<!-- link in stylesheet -->
<link rel='stylesheet' href='https://fullcalendar.io/js/fullcalendar-3.1.0/fullcalendar.css' />
<link rel='stylesheet' href='/stylesheets/bulldog_layout.css' />

<script src='//cdnjs.cloudflare.com/ajax/libs/moment.js/2.9.0/moment.min.js' ></script>
<script src='https://fullcalendar.io/js/fullcalendar-3.1.0/fullcalendar.min.js' ></script>

<div id= "bulldogScheduleTitle">
  <h1>Bulldog Reserved Schedule</h1>
</div>

<div class="dogCalendar">
  <div class="row">
    <div class="col-md-12">
      <div id='calendarBox'>
        <div id='calendar'></div>
      </div>
    </div>
  </div>
</div>


<script>
$(document).ready(function() {

  // add the "animateCss" to JQuery to extend it
  $.fn.extend({
      animateCss: function (animationName) {
          var animationEnd = 'webkitAnimationEnd mozAnimationEnd MSAnimationEnd oanimationend animationend';
          this.addClass('animated ' + animationName).one(animationEnd, function() {
              $(this).removeClass('animated ' + animationName);
          });
      }
  });


  $('#calendar').fullCalendar({
    // put your options and callbacks here
    events: [
                {
                    title  : 'Bulldoog Reserved',
                    start  : '2016-12-28'
                },

                {
                    title  : 'Bulldoog Reserved',
                    start  : '2017-01-03'
                },
                {
                    title  : 'Bulldoog Reserved',
                    start  : '2017-01-07'
                },
                {
                    title  : 'Bulldoog Reserved',
                    start  : '2017-01-12'
                },
                {
                    title  : 'Bulldoog Reserved',
                    start  : '2017-01-13'
                },
                {
                    title  : 'Bulldoog Reserved',
                    start  : '2017-01-18'
                },
                {
                    title  : 'Bulldoog Reserved',
                    start  : '2017-01-24'
                },
                {
                    title  : 'Bulldoog Reserved',
                    start  : '2017-01-29'
                },

              ]
  })

  //start the show
  $('#titleBar').animateCss('lightSpeedIn');﻿
  $('#pic1').animateCss('bounceInLeft');﻿
  $('#pic2').animateCss('bounceInLeft');﻿


});
</script>
